.wrapper-pick {
  width: 98%;
  height: 540px;
  margin: 0 auto;
  /* border: solid 1px goldenrod; */
  padding: 0 10px;
  overflow-x: hidden;
}

.ban-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.ban-team {
  display: flex;
}

.ban-cell {
  width: 60px;
  height: 60px;
  border: solid 1px transparent;
  filter: grayscale(100%);
}

.grid-container-pick {
  height: 250px;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr 1fr 1fr 1fr 1fr 1fr
}

.player {
  border-right: solid 1px gainsboro;
  border-top: solid 1px red;
  border-bottom: solid 1px ghostwhite;
  /* height: 520px; */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

}

.player-0 {
  background-image: url('https://raw.githubusercontent.com/davidherasp/lol_images/master/role_lane_icons/TOP.png');
  background-repeat: no-repeat;
}

.player-1 {
  background-image: url('https://raw.githubusercontent.com/davidherasp/lol_images/master/role_lane_icons/MIDDLE.png');
  background-repeat: no-repeat;
}

.player-2 {
  background-image: url('https://raw.githubusercontent.com/davidherasp/lol_images/master/role_lane_icons/JUNGLE.png');
  background-repeat: no-repeat;
}

.player-3 {
  background-image: url('https://raw.githubusercontent.com/davidherasp/lol_images/master/role_lane_icons/SUPPORT.png');
  background-repeat: no-repeat;
}

.player-4 {
  background-image: url('https://raw.githubusercontent.com/davidherasp/lol_images/master/role_lane_icons/ADC.png');
  background-repeat: no-repeat;
}

.player-avatar {
  /* width: 100%; */
  /* transform: translateY(-150px); */
  width: auto;
  height: 100%;
  object-fit: contain;
}

.team {
  display: flex;
  flex-direction: column;
}

.team-logo-contaniner {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  justify-items: center;
}

.match {
  text-align: center;
  margin-top: 10px;
  padding: 10px 0;
}

.patch {
  text-align: center;
  padding: 10px 0;
}

.each-team {
  display: flex;
  flex-direction: column;
}

.score {
  flex: 1;
  text-align: center;
}